{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Payment Splitter{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Payment Splitter</h1>
        <nav>
            <ul>
                <li><a href="{% url 'create_expense' %}">Create Expense</a></li>
                <li><a href="{% url 'expense_list' %}">Expense List</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
